.Headers{
    font-size: 20px;
        background-color: lightblue;
        color: blue;
    }
    .interface
    {
        color: blue;
    
    
    }

    .num{ color:  lightblue;}

      .merge{padding: 180;}